<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Contact list app{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

<div>
    <a href="{{ url('app_contact_listcontacts') }}">List contacts</a> -
    <a href="{{ url('app_contact_newperson') }}">New person</a> -
    <a href="{{ url('app_contact_newcompany') }}">New company</a>
</div>
<br>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
