{% extends "base.html.twig" %}

{% block title %}
    All contacts
{% endblock %}

{% block body %}
    {% for contact in contacts %}
        <a href="{{ url('app_contact_showcontact', {uuid: contact.uuid}) }}">{{ contact.name }}</a><br>
    {% endfor %}
{% endblock %}
