{% extends "base.html.twig" %}

{% block title %}
    Create contact
{% endblock %}

{% block body %}
    {{ form_start(form, { 'attr' : { 'novalidate' : '' } }) }}

    {{ form_widget(form) }}

    <button type="submit">Save</button>

    {{ form_end(form) }}
{% endblock %}
