{% extends "base.html.twig" %}

{% block title %}
    {{ contact.name }}
{% endblock %}

{% block body %}
    <b>Name:</b> {{ contact.name }}<br>
    <b>Address:</b> {{ contact.address|nl2br }}<br>
    <b>Telephone:</b> {{ contact.telephone|default('Unknown') }}<br>
{% endblock %}
